<!-- ======= Services Section ======= -->
<section id="services" class="services" id="service">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>{{'service.h2' | translate}}</h2>
      <h3>{{'service.h3' | translate}} <span>{{'service.span' | translate}}</span></h3>
      <p>{{'service.p' | translate}}</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4><a href="">{{'service.h4' | translate}}</a></h4>
          <p>{{'service.h4-p' | translate}}</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4><a href="">{{'service.h41' | translate}}</a></h4>
          <p>{{'service.h41p1' | translate}}</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a href="">{{'service.h42' | translate}}</a></h4>
          <p>{{'service.h42p2' | translate}}</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4><a href="">{{'service.h43' | translate}}</a></h4>
          <p>{{'service.h43p3' | translate}}</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-slideshow"></i></div>
          <h4><a href="">{{'service.h44' | translate}}</a></h4>
          <p>{{'service.h44p4' | translate}}</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-arch"></i></div>
          <h4><a href="">{{'service.h45' | translate}}</a></h4>
          <p>{{'service.h45p5' | translate}}</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators" style="top: 260px;">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="testimonial-item">
          <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
          <h3>{{'service.tes-h3' | translate}}</h3>
          <h4>{{'service.tes-h4' | translate}} &amp; {{'service.tes-am' | translate}}</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            {{'service.tes-p' | translate}}
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial-item">
          <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
          <h3>{{'service.tes-h32' | translate}}</h3>
          <h4>{{'service.tes-h42' | translate}}</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            {{'service.tes-p2' | translate}}
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial-item">
          <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
          <h3>{{'service.tes-h33' | translate}}</h3>
          <h4>{{'service.tes-h43' | translate}}</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            {{'service.tes-p3' | translate}}
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial-item">
          <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
          <h3>{{'service.tes-h34' | translate}}</h3>
          <h4>{{'service.tes-h44' | translate}}</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            {{'service.tes-p4' | translate}}
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial-item">
          <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
          <h3>{{'service.tes-h35' | translate}}</h3>
          <h4>{{'service.tes-h45' | translate}}</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            {{'service.tes-p5' | translate}}
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Testimonials Section -->
