 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h1>{{'home.h1' | translate}} <span>{{'home.span' | translate}}</span></h1>
    <h2>{{'home.h2' | translate}}</h2>
    <div class="d-flex">
      <a href="#about" class="btn-get-started scrollto">{{'home.get' | translate}}</a>
      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>{{'home.video' | translate}}</span></a>
    </div>
  </div>
</section><!-- End Hero -->

 <!-- ======= Featured Services Section ======= -->
 <section id="featured-services" class="featured-services">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="">{{'home.lorem1' | translate}}</a></h4>
          <p class="description">{{'home.lotext1' | translate}}</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="">{{'home.lorem2' | translate}}</a></h4>
          <p class="description">{{'home.lotext2' | translate}}</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a href="">{{'home.lorem3' | translate}}</a></h4>
          <p class="description">{{'home.lotext3' | translate}}</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4 class="title"><a href="">{{'home.lorem4' | translate}}</a></h4>
          <p class="description">{{'home.lotext4' | translate}}</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Featured Services Section -->
