  <!-- ======= Team Section ======= -->
 <section id="team" class="team section-bg" id="team">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>{{'team.h2' | translate}}</h2>
      <h3>{{'team.h3' | translate}} <span>{{'team.span' | translate}}</span></h3>
      <p>{{'team.p' | translate}}</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>{{'team.walter' | translate}}</h4>
            <span>{{'team.walter-span' | translate}}</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>{{'team.sarah' | translate}}</h4>
            <span>{{'team.sarah-span' | translate}}</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>{{'team.william' | translate}}</h4>
            <span>{{'team.william-span' | translate}}</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>{{'team.amanda' | translate}}</h4>
            <span>{{'team.amanda-span' | translate}}</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->

<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>{{'team.p-h2' | translate}}</h2>
      <h3>{{'team.p-h3' | translate}} <span>{{'team.p-h3-span' | translate}}</span></h3>
      <p>{{'team.p-p' | translate}}</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="box">
          <h3>{{'team.free' | translate}}</h3>
          <h4><sup>$</sup>0<span> / {{'team.free-span' | translate}}</span></h4>
          <ul>
            <li>{{'team.f-l1' | translate}}</li>
            <li>{{'team.f-l2' | translate}}</li>
            <li>{{'team.f-l3' | translate}}</li>
            <li class="na">{{'team.f-l4' | translate}}</li>
            <li class="na">{{'team.f-l5' | translate}}</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">{{'team.buy' | translate}}</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
        <div class="box featured">
          <h3>{{'team.bus' | translate}}</h3>
          <h4><sup>$</sup>19<span> / {{'team.free-span' | translate}}</span></h4>
          <ul>
            <li>{{'team.f-l1' | translate}}</li>
            <li>{{'team.f-l2' | translate}}</li>
            <li>{{'team.f-l3' | translate}}</li>
            <li>{{'team.f-l4' | translate}}</li>
            <li class="na">{{'team.f-l5' | translate}}</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">{{'team.buy' | translate}}</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="box">
          <h3>{{'team.deve' | translate}}</h3>
          <h4><sup>$</sup>29<span> /{{'team.free-span' | translate}}</span></h4>
          <ul>
            <li>{{'team.f-l1' | translate}}</li>
            <li>{{'team.f-l2' | translate}}</li>
            <li>{{'team.f-l3' | translate}}</li>
            <li>{{'team.f-l4' | translate}}</li>
            <li>{{'team.f-l5' | translate}}</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">{{'team.buy' | translate}}</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
        <div class="box">
          <span class="advanced">{{'team.adva' | translate}}</span>
          <h3>{{'team.ulti' | translate}}</h3>
          <h4><sup>$</sup>49<span> /{{'team.free-span' | translate}}</span></h4>
          <ul>
            <li>{{'team.f-l1' | translate}}</li>
            <li>{{'team.f-l2' | translate}}</li>
            <li>{{'team.f-l3' | translate}}</li>
            <li>{{'team.f-l4' | translate}}</li>
            <li>{{'team.f-l5' | translate}}</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">{{'team.buy' | translate}}</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Pricing Section -->

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>{{'team.faq' | translate}}</h2>
      <h3>{{'team.faq-h3' | translate}} <span>{{'team.faq-h3-span' | translate}}</span></h3>
      <p>{{'team.faq-p' | translate}}.</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-10">
        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">{{'team.q1' | translate}} <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                {{'team.q1-a' | translate}}
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">{{'team.q2' | translate}} <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                {{'team.q2-a' | translate}}
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">{{'team.q3' | translate}} <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                {{'team.q3-a' | translate}}
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">{{'team.q4' | translate}} <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                {{'team.q4-a' | translate}}
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">{{'team.q5' | translate}} <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                {{'team.q5-a' | translate}}
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">{{'team.q6' | translate}} <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                {{'team.q6-a' | translate}}
              </p>
            </div>
          </li>

        </ul>
      </div>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->
