<section id="contact" class="contact pb-0" id="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>{{'rxjs.h2' | translate}} </h2>
      <h3><span>{{'rxjs.h3-span' | translate}}</span></h3>
      <p>{{'rxjs.p' | translate}}</p>
    </div>
    </div>
  </section>

  <div class="container">
    <h5>{{'rxjs.plunk' | translate}}</h5>
    <div class="row">
      <div class="col-2" *ngFor="let item of dataUser">
        <h6>{{item}}</h6>
      </div>
      <div class="col-10">
        <button type="button" class="btn btn-warning btn-sm" (click)="onPlunk()">{{'rxjs.p-btn' | translate}}</button>
      </div>
    </div>
    <div class="row" [ngStyle]="{'color' : myColor}">
      <div class="col-2">
        <ul id="tapId">
        </ul>
      </div>
      <div class="col-10">
        <button type="button" class="btn btn-success btn-sm" (click)="tapCh()">{{'rxjs.t-btn' | translate}}</button>
      </div>
    </div>
  </div>
